# 환경변수 관련
*.env

# -------------------------------------
# 1. 가상 환경 (Virtual Environment)
# -------------------------------------
.venv/
venv/
*.lock

# -------------------------------------
# 2. 모델 폴더 및 가중치 파일
# -------------------------------------
*.pt
*.pth
*.h5

# -------------------------------------
# 3. IDE 및 기타 임시 파일
# -------------------------------------
.vscode/
__pycache__/s